@font-face {
    font-family: ModernSans;
    src: url('../fonts/ModernSans-Light.otf');
}

body {
    font-family: ModernSans;
    text-shadow: 2px 2px 5px black;
    background-size: 200%;
    background-repeat: no-repeat;
    line-height: 1.5;
    font-size: 120%;
    margin: 0px;
}

ul {
    margin: 0px;
    padding-left: 10px;
}

nav {
    background-color: #40381f;
}

nav li {
    text-decoration: none;
    display: inline;
    width: 300px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: auto;
}

#wrapper {}

header {
    color: white;
    font-size: 50px;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    min-height: 800px;
}

h1 {
    padding: 320px 10px;
    margin: auto;
    max-width: 600px;
    font-size: 100px;
    text-align: center;
    position: relative;
}

.parallax {
    /* The image used */
    background-image: url("../images/wall2.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

section {
    background-image: url("../images/background2.jpg");
    margin-right: 0px;
    color: white;
}

article {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

section h2 {
    margin-top: 0px;
    font-size: 30px;
}